/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html { font-size: 62.5%; }
body {
  font-size: 1.8rem;
  /*font-size: 2rem;*/
  /*font-size:22px;*/
}
h1, h2 {
  margin-top:0;
  margin-bottom:0;
}

/* banner */
#banner {
  width: 100%;
  background-color: #22313f;
  height:344px;
  position: relative;
  /*margin-bottom:100px;*/
  display:block;
  overflow-x:hidden;
}
#c, #e {
  position: absolute;
  z-index:0;
  top:0;
  left:0;
  transition: opacity 2500ms linear;
}
#banner .section {
  z-index:100;
  color: white;
  position:inherit;
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align:center;
  transition: opacity 1500ms linear;
}
#banner .section .grid {
  width:100%;
}
#banner-top-left {
  position:absolute;
  top:-80px;
  left:-100px;
  z-index:1;
  /*display:none;*/
}
#banner-bottom-right {
  position:absolute;
  bottom:0;
  right:0;
  z-index:1;
  display:none;
}

.subheader {
  font-weight:bold;

}
#date-line {
  font-size:2.2rem;
}
#date-line a {
  color: white;
  text-decoration:none;
}
#date-line a:hover {
  color: #ccc;
  text-decoration:none;
}
#invitation {
  margin-top:4rem;
}
#location-row {
  background-image:url(../img/300funston.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  padding-top:0;
  padding-bottom:0;
  margin-bottom:0;
}
#location-row span {
  color:#fff;
  font-weight:bold;
}
#location-row section {
  /*background-color:rgba(255,255,255,1.0);*/
  padding:2rem;
}

section, .section {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 10px;
}
section {
  margin-bottom:3rem;
}

footer {
  text-align: center;
  /*margin-top:5rem;*/
  padding:2rem 1rem 2rem 1rem;
  background-color:#eee;
  color:#999;
  margin-top:-3rem; /* mobile offset fix */
}

code, pre {
  background-color: #eee;
  padding: 2px 3px;
  display:inline-block;
  font-size: 1.3rem;
}
code a, pre a {
  color:#999;
}
a {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

.placeholder {
  background-color: #ccc;
  width: 100%;
  height: 300px;
}

.orange {color:#f39c12;}
.red {color:#c0392b;}
.green {color:#3fc380;}
.blue {color:#4a90e2}
.grey {color:#ccc;}
.grey-row {
  background-color: #efefef;
  padding-top: 4rem;
}
.grey-row.bottom-pad {
  padding-bottom:2rem;
  margin-bottom:6rem;
}
.icon-col {
  text-align:center;
  font-size:400%;
  padding:4rem 0 4rem 0;
  /*border:1px solid #ccc;*/
}
h1 {
  font-size: 4.0rem;
  line-height: 4.0rem;
  letter-spacing:2px;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.5em;
  font-weight: 300;
  color: #3fc380;
  margin-bottom:3.0rem;
}
@media only screen and (min-width: 35em) {
  /* desktop styles */
  h1 {
    font-size: 6.0rem;
    line-height: 6.0rem;
  }
  h2 {
    font-size: 4.0rem;
    line-height: 4.0rem;
  }
  body {
    font-size: 1.9rem;
  }
  #banner {
    margin-bottom:2rem;
  }
  #banner-top-left {
    position:absolute;
    top:-40px;
    left:-40px;
    z-index:1;
    /*display:none;*/
  }
  #date-line {
    font-size:2.5rem;
  }
  #location-row {
    padding-top:8rem;
    padding-bottom:8rem;
    margin-bottom:0;
  }
  footer {
    margin-top:0;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


.bio-image {
  margin-bottom:2rem;
}
.bio-name {
  text-align:center;
  /*font-style:italic;*/
  font-weight:bold;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /*font-size: 24px;  /* Preferred icon size */*/
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
