/* desktop styles */

@media only screen and (min-width: $responsive_width) {
  .grid.people.full-list {
    justify-content: flex-start;
  }
  .small-col {
    flex-basis:15%;
    margin: 0 8px 25px 8px;
  }
  .page-Home .small-col {
    flex-basis:9%;;
  }
  .small-col .name, .small-col .subtitle {
    font-size: 13px !important;
  }

  .schedule .small-col {
    margin: 0 5px 10px 5px;
    flex-basis: 10%;
    overflow-x: hidden;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .schedule .small-col .name, .schedule .small-col .subtitle {
    font-size: 12px !important;
  }


  #modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modalInnerEl {
    margin: 2rem;
    padding:4rem;
    overflow-y: scroll;
    max-width: 700px;
    // max-height: 90%;
    min-height:400px;
    // min-height: 400px;
  }
  .modal .modal-image img {
    max-width: 300px;
    border-radius:50%;
  }
  body.open-modal .main-body, body.open-modal footer, body.open-modal header {
    display:initial;
  }

  h1 {
    font-size: 6.0rem;
    line-height: 6.0rem;
  }
  h2 {
    font-size: 4.0rem;
    line-height: 4.0rem;
    // margin-bottom:0;
  }
  body {
    font-size: 1.9rem;
  }
  section {
    padding-top:1px;
    padding-bottom:6rem;
  }
  h2{
    margin-top: 4rem;
  }
  h3 {
    margin-top: 6rem;
  }
  #banner {
    margin-bottom:1rem;
    height:394px;
  }
  #banner-top-left {
    position:absolute;
    top:-40px;
    left:-40px;
    z-index:1;
    /*display:none;*/
  }
  #date-line {
    font-size:2.5rem;
  }
  #location-row {
    padding-top:8rem;
    padding-bottom:8rem;
    margin-bottom:0;
  }
  #sponsors-section img {
    width: 75%;
    height: auto;
  }
  #sponsors-section .grid {
    padding-left:5px;
  }
  .sponsor-image-wrapper {
    /*padding:0 3rem;*/
    text-align:left;
  }

  footer {
    margin-top:0;
  }
  .hide-desktop {
    display:none !important;
  }
  .hide-mobile {
    display:initial !important;
  }
  .top-text {
    margin-top: 4rem;
  }

  .sponsor-image-wrapper {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .schedule .grid {
    margin-bottom: 15px;
  }
  .schedule-toc div {
    display: inline-block;
    margin-right: 10px;
  }
  #meetup {
    margin-top:150px;
  }
  .unit.workshop {
    // border:2px solid #ccc;
    padding: 10px;
    margin-top:10px;
    // padding-right:10px;
    // border-right: 1px solid #ccc;
  }
  .grid.workshops {

  }
  .science-fair {
    margin-top: 60px;
  }
  .science-fair .small-col {
    flex-basis: 8% !important;
  }
  .page-Science-Fair h2 {
    // margin-bottom: 60px;
  }
  .page-Learn-More .schedule-toc {
    margin-bottom:30px;
  }

  #livestream-iframe {
    width: 100%;
    height: 650px;
  }
}
