/* desktop styles */

@media only screen and (min-width: $responsive_width) {
  .grid.people.full-list {
    justify-content: flex-start;
  }
  .small-col {
    flex-basis:15%;
    margin: 0 8px 25px 8px;
  }
  .page-Home .small-col {
    flex-basis:9%;;
  }
  .small-col .name, .small-col .subtitle {
    font-size: 13px !important;
  }

  #modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modalInnerEl {
    margin: 2rem;
    padding:4rem;
    overflow-y: scroll;
    max-width: 700px;
    // max-height: 90%;
    min-height:400px;
    // min-height: 400px;
  }
  .modal .modal-image img {
    max-width: 300px;
    border-radius:50%;
  }
  body.open-modal .main-body, body.open-modal footer, body.open-modal header {
    display:initial;
  }

  h1 {
    font-size: 6.0rem;
    line-height: 6.0rem;
  }
  h2 {
    font-size: 4.0rem;
    line-height: 4.0rem;
    // margin-bottom:0;
  }
  body {
    font-size: 1.9rem;
  }
  section {
    padding-top:1px;
    padding-bottom:6rem;
  }
  h2{
    margin-top: 4rem;
  }
  h3 {
    margin-top: 6rem;
  }
  #banner {
    margin-bottom:1rem;
    height:394px;
  }
  #banner-top-left {
    position:absolute;
    top:-40px;
    left:-40px;
    z-index:1;
    /*display:none;*/
  }
  #date-line {
    font-size:2.5rem;
  }
  #location-row {
    padding-top:8rem;
    padding-bottom:8rem;
    margin-bottom:0;
  }
  #sponsors-section img {
    width: 75%;
    height: auto;
  }
  #sponsors-section .grid {
    padding-left:5px;
  }
  .sponsor-image-wrapper {
    /*padding:0 3rem;*/
    text-align:left;
  }

  footer {
    margin-top:0;
  }
  .hide-desktop {
    display:none !important;
  }
  .hide-mobile {
    display:initial !important;
  }
  .top-text {
    margin-top: 4rem;
  }

  .sponsor-image-wrapper {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .schedule .grid {
    margin-bottom: 15px;
  }
  .schedule-toc div {
    display: inline-block;
    margin-right: 10px;
  }
}
