$header_size: 50px;
$responsive_width: 568px;


@import "normalize";
@import "base";
@import "gridism";
@import "header";

html {
  font-family: Roboto, sans-serif;
}

html, body { height: 100%; }
html { font-size: 62.5%; }
body {
  font-size: 1.8rem;
  line-height: 1.8rem * 2;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  -webkit-overflow-scrolling: touch;
}

h1, h2 {
  margin-top:0;
  margin-bottom:0;
}


/* banner */
#banner {
  width: 100%;
  background-color: #22313f;
  height:374px;
  position: relative;
  /*margin-bottom:100px;*/
  display:block;
  overflow-x:hidden;
}
#c, #e {
  position: absolute;
  z-index:0;
  top:0;
  left:0;
  transition: opacity 2500ms linear;
}
#banner .section {
  z-index:100;
  color: white;
  position:inherit;
  height:100%;
  width:100%;
  text-align:center;
  transition: opacity 1500ms linear;
  /* flexbox */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
      -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
       -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}
#banner .section .grid {
  width:100%;
}
#banner-top-left {
  position:absolute;
  top:-80px;
  left:-100px;
  z-index:1;
  /*display:none;*/
}
#banner-bottom-right {
  position:absolute;
  bottom:0;
  right:0;
  z-index:1;
  display:none;
}

section, .section {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 10px;
}
section {
  padding-top:2rem;
  padding-bottom:3rem;
  /*margin-bottom:3rem;*/
}
section a {
  word-wrap: break-word;
}

.subheader {
  font-weight:bold;
}
#date-line {
  font-size:2.2rem;
}
#date-line a {
  color: white;
  text-decoration:none;
}
#date-line a:hover {
  color: #ccc;
  text-decoration:none;
}
#invitation {
  /*margin-top:4rem;*/
}
#location-row {
  background-image:url(../img/300funston.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  padding-top:0;
  padding-bottom:0;
  margin-bottom:0;
}
#location-row span {
  color:#fff;
  font-weight:bold;
}
#location-row section {
  /*background-color:rgba(255,255,255,1.0);*/
  padding:2rem;
}
#decentralized-section {
  padding-right:2rem;
}

section ul {
  margin:0;
  padding:0 0 0 2rem;
}
section li {
  margin-bottom:2rem;
}
#extra-info-section .unit {
  margin-bottom:0;
  padding-bottom:0;
}
.subheader.advanced-reading {
  margin-top:2rem;
  margin-bottom:2rem;
}
.subheader.pad-bottom {
  margin-bottom:2rem;
}
#sponsors-section {
  margin-bottom:3rem;
}
#sponsors-section h2 {
  margin-bottom:2rem;
}
#sponsors-section .unit {
  /*padding:2rem 0;*/
  padding-top:3rem;
  /* flexbox */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-justify-content: center;
            -ms-flex-pack: center;
          justify-content: center;
    -webkit-box-align: center;
  -webkit-align-items: center;
       -ms-flex-align: center;
       -moz-box-align: center;
          align-items: center;
}
#sponsors-section img {
  /*width:55%;*/
  width:36vw;
  height:auto;
}
.sponsor-image-wrapper {
  /*padding:0 3rem;*/
  text-align:center;
}

footer {
  text-align: center;
  /*margin-top:5rem;*/
  // padding:2rem 1rem 2rem 1rem;
  background-color:#eee;
  color:#999;
  height: $header_size;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: default;
}

code, pre {
  background-color: #eee;
  padding: 2px 3px;
  display:inline-block;
  font-size: 1.3rem;
  word-break: break-all;
}
code a, pre a {
  color:#999;
}
a {
  color: rgb(0, 153, 255);
  text-decoration: none;
}
.placeholder {
  background-color: #ccc;
  width: 100%;
  height: 300px;
}
/* utility classes */
.no-bottom-margin { margin-bottom: 0; }
.no-top-margin { margin-top: 0; }
.one-line-top-margin { margin-top: 2rem; }
.orange {color:#f39c12;}
.red {color:#c0392b;}
.green {color:#3fc380;}
.blue {color:#4a90e2}
.grey {color:#ccc;}
.grey-row { background-color: #efefef; }
.grey-row.bottom-pad {
  padding-bottom:2rem;
  margin-bottom:6rem;
}
.icon-col {
  text-align:center;
  font-size:400%;
  padding:4rem 0 4rem 0;
  /*border:1px solid #ccc;*/
}
h1 {
  font-size: 4.0rem;
  line-height: 4.0rem;
  letter-spacing:2px;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.5em;
  font-weight: 300;
  color: #3fc380;
  margin-bottom:3.0rem;
}

/* page */
section.page-section {
  // min-height:100%;
  // flex:1;
  // margin-top:3rem;
  padding-bottom: 5rem;
}

/* learn more page */
section.page-section > h3 {
  margin-top: 4rem;
}
section.page-section.learn-more li {
  margin-bottom:1rem;
  font-size: .85em;
  line-height: 1.75em;
}

.main-body {
  flex:1;
}


.bio-image {
  margin-bottom:2rem;
  // width:100%;
  border-radius: 50%;
}
.bio-name {
  text-align:center;
  /*font-style:italic;*/
  font-weight:bold;
}

.hide-desktop {
  display:initial;
}
.hide-mobile {
  display:none !important;
}


/* people */


.grid.people img {
  box-sizing: border-box;
  border-radius: 50%;
  width:100%;
  // transition: border 0.125s ease-out;
}
.grid.people img:hover {
  border:0.5rem solid #3fc380;
}
.grid.people .unit {
   margin-bottom: 3rem;
   cursor: pointer;
}
.grid.people .name {
  text-align: center;
  font-size: 1em;
  line-height: 1.25em;
  // line-height:1em;
  margin-top:0.75rem;
}
.grid.people .subtitle, .modal .modal-subtitle {
  text-align: center;
  font-style: italic;
  color: #aaa;
  font-size:0.8em;
  line-height:1.4em;
  margin-top: 0.2em;
}

.grid.people .short_bio {
  text-align: center;
  font-style: italic;
  color: #aaa;
  font-size:1em;
  line-height:1.4em;
  margin-top: 1em;
}

.page-People .grid {
  margin-bottom: 8rem;
}

.page-Code-of-Conduct #footer-wrapper {
  display: none;
}

.caption {
  margin-top: 0.5rem;
  font-size: 0.75em;
  line-height:1.25em;
  color: #aaa;
}
.hidden-bio {
  display:none;
}


.schedule {
  font-size: .9em;
  line-height: 1.25em;
  font-weight:400;
  margin-bottom: 60px;
}
.schedule .grid {
  margin-bottom: 10px;
}
.schedule .time {
  // font-style: italic;
  font-weight: bold;
}
.schedule-intro {
  margin-bottom: 40px;
}
.schedule a {
  // color: blue;
  // text-decoration: underline;
}

/* modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(100,100,100,0.5);
  z-index: 10000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;

}

.modalInnerEl {
  box-shadow: 10px 10px 5px #ccc;
  background-color:white;
  padding:4rem 2rem;
  display: flex;
  flex-direction:column;
  position:relative;
  width:100%;
  min-height:100%;
  box-sizing:border-box;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
}

.modal .modal-contents {
  flex: 1;
}
.modal .close-wrapper {
  // margin-top:2rem;
  position:absolute;
  top:10px;
  right:10px;
}
.modal .modal-image {
  text-align:center;
  margin-bottom: 2rem;
  backface-visibility: hidden;
}
.modal .modal-image img {
  max-width: 100%;
  border-radius:50%;
  backface-visibility: hidden;
}
.modal .modal-name {
  text-align:center;
}

.modal .modal-subtitle {
  font-size:1em;
  margin-bottom: 3rem;
}
body.open-modal .main-body, body.open-modal footer, body.open-modal header  {
  display:none;
}


.grid.people.full-list {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  text-align:left;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}
.small-col {
  margin: 0 5px 10px 5px;
  flex-basis: 30%;
  overflow-x: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}
.small-col .name, .small-col .subtitle {
  font-size: 12px !important;
}

@media only screen and (min-width: $responsive_width) {
  /* desktop styles */
  .grid.people.full-list {
    justify-content: flex-start;
    // flex-flow: row wrap;
  }
  // .grid.people.full-list:after {
  //   content: "";
  //   flex: auto;
  // }
  .small-col {
    flex-basis:15%;
    margin: 0 10px 25px 10px;
  }
  .page-Home .small-col {
    flex-basis:9%;;
  }
  .small-col .name, .small-col .subtitle {
    font-size: 13px !important;
  }

  #modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modalInnerEl {
    margin: 2rem;
    padding:4rem;
    overflow-y: scroll;
    max-width: 700px;
    // max-height: 90%;
    min-height:400px;
    // min-height: 400px;
  }
  .modal .modal-image img {
    max-width: 300px;
    border-radius:50%;
  }
  body.open-modal .main-body, body.open-modal footer, body.open-modal header {
    display:initial;
  }

  h1 {
    font-size: 6.0rem;
    line-height: 6.0rem;
  }
  h2 {
    font-size: 4.0rem;
    line-height: 4.0rem;
    // margin-bottom:0;
  }
  body {
    font-size: 1.9rem;
  }
  section, .section {
    padding: initial;

  }
  section {
    padding-top:1px;
    padding-bottom:6rem;
  }
  h2, h3{
    margin-top: 6rem;
    // margin-bottom: 2rem;
  }
  #banner {
    margin-bottom:1rem;
    height:394px;
  }
  #banner-top-left {
    position:absolute;
    top:-40px;
    left:-40px;
    z-index:1;
    /*display:none;*/
  }
  #date-line {
    font-size:2.5rem;
  }
  #location-row {
    padding-top:8rem;
    padding-bottom:8rem;
    margin-bottom:0;
  }
  #sponsors-section img {
    width: 75%;
    height: auto;
  }
  #sponsors-section .grid {
    padding-left:5px;
  }
  .sponsor-image-wrapper {
    /*padding:0 3rem;*/
    text-align:left;
  }

  footer {
    margin-top:0;
  }
  .hide-desktop {
    display:none !important;
  }
  .hide-mobile {
    display:initial !important;
  }
  .top-text {
    margin-top: 4rem;
  }

  .sponsor-image-wrapper {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page-section {
    padding-left: 20px;
    padding-right: 20px;
  }

}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.google-form-raw {
  margin-top: 40px;
  border: 2px solid #4a90e2;
  padding: 10px 20px 0 10px;
  font-size:1.4rem;
  line-height: 2.8rem;
  margin-right: 20px;
  // background-color:#eee;
}
.google-form-raw .form-title {
  font-weight:bold;
  font-size: 1.8rem;
}
.google-form-raw textarea {
  width: 100%;
  max-width: 400px;
  height: 200px;
  border: 1px solid #ccc;
  // background-color:#efefef;
}
.google-form-raw input {
  // background-color:#efefef;
  border: 1px solid #ccc;
}
.google-form-raw .required-message {
  color: #999;
}
.google-form-raw li {
  margin-bottom: 0;
}
.google-form-raw .ss-password-warning {
  display: none;
}
