<ul style="font-family: monospace;">
  <!--
  This website is available through IPFS.
  We chose NeoCities as the hosting provider, because they offer IPFS for all their websites.
  We use an IPNS hash to keep a single mutable hash that can point to the latest version of this website.
  -->
  <li>IPFS &ndash; <a href="https://ipfs.io/ipfs/QmNcMXexF8Kw6BmmEs9A3k26pYdAoQrAMJcoUdFYrdJSQZ">https://ipfs.io/ipfs/QmNcMXexF8Kw6BmmEs9A3k26pYdAoQrAMJcoUdFYrdJSQZ</a></li>
  <li>SAFE Network &ndash; <a href="https://maidsafe.readme.io/docs/install-launcher">http://decentralizedweb.ioptio.safenet</a></li>
  <li>ZeroNet &ndash; <a href="http://bit.no.com:43110/16Ryx9pbfzaPb1dbttA6DiFojHQGqrMokU">http://bit.no.com:43110/16Ryx9pbfzaPb1dbttA6DiFojHQGqrMokU</a></li>
</ul>
