<div id="footer-wrapper">
  <footer>
    <section style="padding-bottom:0;">
      <div class="grid">
        <div class="unit one-fifth">
          <a href="/">Home</a><br>
          <a href="https://2016.decentralizedweb.net">2016 Summit</a>
        </div>
        <div class="unit one-fifth">
        </div>
        <div class="unit one-fifth">
        </div>
        <div class="unit one-fifth">
        </div>
        <div class="unit one-fifth">
        </div>
      </div>
    </section>
  </footer>
</div>
