<form action="https://docs.google.com/forms/d/1c_CT8gv934tJY1MrD1gX0cWy3ka1TGyQ6PmyvbhoMl0/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
  <ol role="list" class="ss-question-list" style="padding-left: 0;">
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item ss-item-required ss-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1036961062">
            <div class="ss-q-title">Presenter/ workshop host&#39;s name:
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <input type="text" name="entry.1036961062" value="" class="ss-q-short" id="entry_1036961062" dir="auto" aria-label="Presenter/ workshop host&#39;s name:  " aria-required="true" required="" title="">
          <div class="error-message" id="1386120340_errorMessage"></div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item ss-item-required ss-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_989645830">
            <div class="ss-q-title">Link to a headshot photo of the presenter/ workshop host:
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <input type="text" name="entry.989645830" value="" class="ss-q-short" id="entry_989645830" dir="auto" aria-label="Link to a headshot photo of the presenter/ workshop host:  " aria-required="true" required="" title="">
          <div class="error-message" id="1969904274_errorMessage"></div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item ss-item-required ss-paragraph-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1847788663">
            <div class="ss-q-title">Short (&lt;500 characters) professional biography of presenter/ workshop facilitator:
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <textarea name="entry.1847788663" rows="8" cols="0" class="ss-q-long" id="entry_1847788663" dir="auto" aria-label="Short (&lt;500 characters) professional biography of presenter/ workshop facilitator:  " aria-required="true" required=""></textarea>
          <div class="error-message" id="657813336_errorMessage"></div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item ss-item-required ss-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_23391870">
            <div class="ss-q-title">Presenter/ workshop host&#39;s email address (this will not be shared)
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <input type="text" name="entry.23391870" value="" class="ss-q-short" id="entry_23391870" dir="auto" aria-label="Presenter/ workshop host&#39;s email address (this will not be shared)  " aria-required="true" required="" title="">
          <div class="error-message" id="1546255055_errorMessage"></div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item ss-item-required ss-radio">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1167795889">
            <div class="ss-q-title">I would like to:
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <ul class="ss-choices" role="radiogroup" aria-label="I would like to:  ">
            <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.284249945" value="Give a lightning talk" id="group_284249945_1" role="radio" class="ss-q-radio" aria-label="Give a lightning talk" required="" aria-required="true"></span>
              <span class="ss-choice-label">Give a lightning talk</span>
              </label>
            </li>
            <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.284249945" value="Host a workshop" id="group_284249945_2" role="radio" class="ss-q-radio" aria-label="Host a workshop" required="" aria-required="true"></span>
              <span class="ss-choice-label">Host a workshop</span>
              </label>
            </li>
            <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.284249945" value="Both (give a lightning talk and host a workshop)" id="group_284249945_3" role="radio" class="ss-q-radio" aria-label="Both (give a lightning talk and host a workshop)" required="" aria-required="true"></span>
              <span class="ss-choice-label">Both (give a lightning talk and host a workshop)</span>
              </label>
            </li>
          </ul>
          <div class="error-message" id="1167795889_errorMessage"></div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item ss-item-required ss-paragraph-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_839337160">
            <div class="ss-q-title">A brief description of your lightning talk and/or workshop (500 characters or less)
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <textarea name="entry.839337160" rows="8" cols="0" class="ss-q-long" id="entry_839337160" dir="auto" aria-label="A brief description of your lightning talk and/or workshop (500 characters or less)  " aria-required="true" required=""></textarea>
          <div class="error-message" id="1846923513_errorMessage"></div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="auto" class="ss-item  ss-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_159230242">
            <div class="ss-q-title">Link to your project</div>
            <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <input type="text" name="entry.159230242" value="" class="ss-q-short" id="entry_159230242" dir="auto" aria-label="Link to your project  " title="">
          <div class="error-message" id="1135385957_errorMessage"></div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <input type="hidden" name="draftResponse" value="[,,&quot;-2977512740906139911&quot;]
      ">
    <input type="hidden" name="pageHistory" value="0">
    <input type="hidden" name="fbzx" value="-2977512740906139911">
    <div class="ss-item ss-navigate">
      <table id="navigation-table">
        <tbody>
          <tr>
            <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
              <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
              <div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ol>
</form>
