<form action="https://docs.google.com/forms/d/1c_CT8gv934tJY1MrD1gX0cWy3ka1TGyQ6PmyvbhoMl0/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0;">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1036961062"><div class="ss-q-title">Your name
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1036961062" value="" class="ss-q-short" id="entry_1036961062" dir="auto" aria-label="Your name  " aria-required="true" required="" title="">
<div class="error-message" id="1386120340_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_23391870"><div class="ss-q-title">Your email address (this will not be shared)
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.23391870" value="" class="ss-q-short" id="entry_23391870" dir="auto" aria-label="Your email address (this will not be shared)  " aria-required="true" required="" title="">
<div class="error-message" id="1546255055_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_839337160"><div class="ss-q-title">A brief description of your lightning talk (500 characters or less)
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.839337160" rows="8" cols="0" class="ss-q-long" id="entry_839337160" dir="auto" aria-label="A brief description of your lightning talk (500 characters or less)  " aria-required="true" required=""></textarea>
<div class="error-message" id="1846923513_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_159230242"><div class="ss-q-title">Link to your project
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.159230242" value="" class="ss-q-short" id="entry_159230242" dir="auto" aria-label="Link to your project  " title="">
<div class="error-message" id="1135385957_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;-6038971526561595434&quot;]
">
<input type="hidden" name="pageHistory" value="0">



<input type="hidden" name="fbzx" value="-6038971526561595434">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
<div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div></td>
</tr></tbody></table></div></ol></form>
