 <form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSdBdBINcaklgHeVTwEEo4J8ybwlSK98_l2zwnSpruN-8UASVw/formResponse?embedded=true" id="mG61Hd" method="post" name="mG61Hd" target="_self">
  <div class="email-group grid">
    <div class="unit one-fourth">
      <label class="email-label" for="entry17641951">First Name*</label>
    </div>
    <div class="unit three-fourths">
      <input class="email-input" id="entry17641951" name="entry.17641951" required>
    </div>
  </div>
  <div class="email-group grid">
    <div class="unit one-fourth">
      <label class="email-label" for="entry1168753688">Last Name*</label>
    </div>
    <div class="unit three-fourths">
      <input class="email-input" id="entry1168753688" name="entry.1168753688" required>
    </div>
  </div>
  <div class="email-group grid">
    <div class="unit one-fourth">
      <label class="email-label" for="entry2010676789">Affiliation (if any)</label>
    </div>
    <div class="unit three-fourths">
      <input class="email-input" id="entry2010676789" name="entry.2010676789">
    </div>
  </div>
  <div class="email-group grid">
    <div class="unit one-fourth">
      <label class="email-label" for="entry1045781291">Email*</label>
    </div>
    <div class="unit three-fourths">
      <input class="email-input" id="entry1045781291" name="entry.1045781291" type="email" required>
    </div>
  </div>
  <input class="email-submit" type="submit" value="Submit">
</form>
