{% macro match_p1(p1, additional_bio) %}
  {# This is the only way I could hack this to work #}
  {% set name = p1.name.replace(", moderator", "") %}
  {% capture as="matchHtml" -%}{% for match in contents['people']['index.md'].metadata.keynote_speakers %}{% if match.name == name %}{% include "_schedule_bio.html" %}{% endif %}{% endfor %}{%- endcapture %}
  {% if matchHtml == "" %}
    {% capture as="matchHtml" -%}{% for match in contents['people']['index.md'].metadata.presenters %}{% if match.name == name %}{% include "_schedule_bio.html" %}{% endif %}{% endfor %}{%- endcapture %}
  {% endif %}
  {% if matchHtml == "" %}
    {% capture as="matchHtml" -%}{% for match in contents['people']['index.md'].metadata.organizers %}{% if match.name == name %}{% include "_schedule_bio.html" %}{% endif %}{% endfor %}{%- endcapture %}
  {% endif %}
  {% if matchHtml == "" %}
    {% capture as="matchHtml" -%}{% for match in contents['builders-day']['index.md'].metadata.people %}{% if match.name == name %}{% include "_schedule_bio.html" %}{% endif %}{% endfor %}{%- endcapture %}
  {% endif %}
  {{matchHtml}}
{% endmacro %}

<div class="schedule">
  {% for row in schedule_param %}
  <div class="grid schedule-row">
    <div class="unit one-fifth">
      <table class="schedule-side-table">
        <tbody>
          <tr>
            <td>
              <i class="material-icons">access_time</i>
            </td>
            <td>
              <span class="time">{{row.time}}</span>
            </td>
          </tr>
          {% if (row.people.length > 0) %}
          <tr>
            <td>
              <i class="material-icons">people</i>
            </td>
            <td>
              <div class="schedule-side-people">
              {% for p1 in row.people %}
                {{p1.name}}<br/>
              {% endfor %}
            </div>
            </td>
          </tr>
          {% endif %}

          {% if (row.lightning_talks.length > 0) %}
          <tr>
            <td>
              <i class="material-icons">people</i>
            </td>
            <td>
              <div class="schedule-side-people">
                <b>Lightning Talks</b><br>
              {% for p1 in row.lightning_talks %}
                {{p1.name}}<br/>
              {% endfor %}
            </div>
            </td>
          </tr>
          {% endif %}

          {% if (row.workshops.length > 0) %}
          <tr>
            <td>
              <i class="material-icons">people</i>
            </td>
            <td>
              <div class="schedule-side-people">
                <b>Workshops</b><br>
              {% for p1 in row.workshops %}
                {{p1.name}}<br/>
              {% endfor %}
            </div>
            </td>
          </tr>
          {% endif %}

        </tbody>
      </table>
    </div>
    <div class="unit four-fifths">
      <div class="title">{{row.title}}</div>
      <div class="description">{{row.description}}</div>

      {% if row.people.length > 0 %}
        <div class="grid people full-list">
          {% for p1 in row.people %}
            {#
              Search bios in people.md and show this person. Not ideal, but quick fix
              Note: may want to remove committee from search
            #}
            {{match_p1(p1)}}
          {% endfor %}
        </div>
      {% endif %}

      {% if row.lightning_talks.length > 0 or row.workshops.length > 0 %}
        <div class="grid workshops">
          <div class="unit half workshop">
            <div class="workshop-title">Lightning Talks</div>
            <div class="grid people full-list">
              <table>
                <tbody>
              {% for p1 in row.lightning_talks %}

                    <tr>
                      <td>
                        {{match_p1(p1, p1.description)}}
                      </td>
                      <td>
                        <div class="workshop-description">{{p1.description|truncate(120)}}</div>
                      </td>
                    </tr>

              {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="unit half workshop">
            <div class="workshop-title">Workshops</div>
            <div class="grid people full-list">
              <table>
                <tbody>
                  {% for p1 in row.workshops %}
                    <tr>
                      <td>
                        {{match_p1(p1, p1.description)}}
                      </td>
                      <td>
                        <div class="workshop-description">{{p1.description|truncate(120)}}</div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endif %}



    </div>

  </div>
  {% endfor %}
</div>
