{# included in schedule page. "match" must be set #}
<div class="small-col js-bio-unit">
  <img src="{{match.image}}" />
  <div class="name">{{match.name}}</div>
  <div class="subtitle">{{match.subtitle}}</div>

  <div class="hidden-bio">
    <div>
      <div class="modal-image" ><img src="{{match.image}}" /></div>
      <div class="modal-name">{{match.name}}</div>
      <div class="modal-subtitle">{{match.subtitle}}</div>
      {% if match.link %}<div class="modal-link">{{match.link|urlize}}</div>{% endif %}
      {% if additional_bio %}
        <div class="modal-bio">{{additional_bio|urlize}}</div>
        {% if match.bio %}
          <hr>
          <div>{{match.bio|urlize}}</div>
        {% endif %}
      {% else %}
        {% if match.bio %}<div class="modal-bio">{{match.bio|urlize}}</div>{% endif %}
      {% endif %}
    </div>
  </div>
</div>
