{# included in schedule page. "match" must be set #}
<div class="small-col js-bio-unit">
  <img src="{{match.image}}" />
  <div class="name">{{match.name}}</div>
  <div class="subtitle">{{match.subtitle}}</div>

  <div class="hidden-bio">
    <div>
      <div class="modal-image" ><img src="{{match.image}}" /></div>
      <div class="modal-name">{{match.name}}</div>
      <div class="modal-subtitle">{{match.subtitle}}</div>
      <div>{{match.bio}}</div>
      <div>{{additional_bio}}</div>
    </div>
  </div>
</div>
