{% extends 'layout.html' %}

{% block body %}
<section class="page-section">

  <h2>Attend</h2>

  <div>Wednesday June 8 &dash; Thursday June 9, 2016 at Internet Archive, San Francisco, CA</div>
  <div>&nbsp;</div>

  <div>{% include "_eventbrite_embed.html" %}</div>

  <h3>Code of Conduct</h3>
  <div>The Decentralized Web Summit has a <a href="/conduct">code of conduct</a> that all participants are required to observe.</div>

  <h3>Live Stream</h3>
  {% include "_live_stream_info.html" %}

  <h3>Registered Attendees</h3>
  <div>
  {% for attendee in page.metadata.attendees %}
    <div>{{attendee}}</div>
  {% endfor %}
  </div>

</section>
{% endblock %}
